@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  
  .hero-container > .logo {
    font-size: 30px;
    font-family: 'CWDangamAsac-Bold';
    position: absolute;
    top : 20px;
    left : 20px;
    color: white;
    text-shadow: 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow;
  }

  .wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_container {
    background-color: rgba( 255, 255, 255, 0.5 );
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

  .text_container > h1 {
    font-family: 'KOTRA_BOLD-Bold';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FEDB39;
    font-weight: bold;
    font-size: 80px;
    z-index: 5;
  }
  
  .text_container > p {
    margin-top: 8px;
    font-size: 32px;
    font-family: 'KOTRA_BOLD-Bold';
    color: #FEDB39;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }
  
  .btns {
    background-color: transparent;
    border: 2px solid #FEDB39;
    width: 300px;
    height: 50px;
    color: #FEDB39;
    font-weight: bold;
    font-size:  20px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .btns:hover{
    background-color: white;
  }

  /* .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
    font-weight: bold;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }

  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  } */

  /* .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  } */
  
  @media screen and (max-width: 960px) {
    .text_container > h1 {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text_container > h1 {
      font-size: 50px;
    }
  
    .text_container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }

  @media screen and (max-width: 375px) {
    /* .hero-container > .logo {
      font-size: 15px;
      position: absolute;
      top : 10px;
      left : 10px;
    } */

    .text_container > h1 {
      font-size: 35px;
    }
  
    .text_container > p {
      font-size: 18px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  